/*
Theme Name: Rule29
*/
$officina-book:    "OfficinaSansITCStd-Book", helvetica, arial, sans-serif;
$officina-italic:  "OfficinaSansITCStd-BookItalic", helvetica, arial, sans-serif;
$officina-bold:		 "OfficinaSansITCStd-Bold", helvetica, arial, sans-serif;
$officina-bolditalic: 	"OfficinaSansITCStd-BoldItalic", helvetica, arial, sans-serif;

.retina-sprite, .slider .logo, .slider .prev, .slider .next, .nav-sub .depth-1 .sub-menu .current-menu-item:after, .grid-icon:before, .grid-overlay:after, .button-submit, .back-to:before, .prev-posts:before, .next-posts:after, .trigger-form-newsletter:after, .submit-newsletter, .check-newsletter:checked + .checkbox-newsletter, .footer-primary .logo, .nav-related .menu-item a:before, .footer-primary .menu-social .menu-item {
  background-image: url("assets/sprite.png");
  background-repeat: no-repeat;
  -webkit-background-size: 250px 250px;
  -moz-background-size: 250px 250px;
  background-size: 250px 250px; }
  .backgroundsize .retina-sprite, .backgroundsize .slider .logo, .slider .backgroundsize .logo, .backgroundsize .slider .prev, .slider .backgroundsize .prev, .backgroundsize .slider .next, .slider .backgroundsize .next, .backgroundsize .nav-sub .depth-1 .sub-menu .current-menu-item:after, .nav-sub .depth-1 .sub-menu .backgroundsize .current-menu-item:after, .backgroundsize .grid-icon:before, .backgroundsize .grid-overlay:after, .backgroundsize .button-submit, .backgroundsize .back-to:before, .backgroundsize .prev-posts:before, .backgroundsize .next-posts:after, .backgroundsize .trigger-form-newsletter:after, .backgroundsize .submit-newsletter, .backgroundsize .check-newsletter:checked + .checkbox-newsletter, .backgroundsize .footer-primary .logo, .footer-primary .backgroundsize .logo, .backgroundsize .nav-related .menu-item a:before, .nav-related .menu-item .backgroundsize a:before, .backgroundsize .footer-primary .menu-social .menu-item, .footer-primary .menu-social .backgroundsize .menu-item {
    background-image: url("assets/sprite@2x_new.png"); }

.off-book, h2, .nav-sub {
  font-family: $officina-book;
  font-weight: 400;
  font-style: normal; }
  .off-book em, h2 em, .nav-sub em {
    font-family: $officina-italic;
    font-style: normal; }
  .off-book strong, h2 strong, .nav-sub strong {
    font-family: $officina-bold;
    font-weight: 400;
    font-style: normal; }

.off-book-it, .button, h5, address p, .author-tweet, .nav-primary .sub-menu-1, .slider p, .selector, .grid-icon, .grid-overlay .project-client, .twitter-text, .input-search, .project-overlay .project-client, .back-to, .more-similar, .navigation-post, .crafted-by, .news-author, .date-news, .input-text, #recaptcha_response_field, .input-textarea, .label-check, .input-file, #recaptcha_privacy a, .trigger-form-newsletter, .input-newsletter, .nav-related .menu-item {
  font-family: $officina-italic;
  font-weight: 400;
  font-style: normal; }

.off-bld, .post-item .first-letter {
  font-family: $officina-bold;
  font-weight: 400;
  font-style: normal; }
  .off-bld em, .post-item .first-letter em {
    font-family: $officina-bolditalic;
    font-style: normal; }

.off-bld-it, address p strong, blockquote p, .trigger-menu, .nav-primary, .nav-sub .depth-1.current-menu-item > a, .nav-sub .depth-1.current-menu-ancestor > a, .nav-sub .depth-1 .sub-menu .current-menu-item, .twitter-user, .trigger-filters, .label-newsletter {
  font-family: $officina-bolditalic;
  font-weight: 400;
  font-style: normal; }

.off-md {
  font-family: "OfficinaSansITCStd-Medium", helvetica, arial, sans-serif;
  font-weight: 400;
  font-style: normal; }
  .off-md em {
    font-family: "OfficinaSansITCStd-MediumItalic", helvetica, arial, sans-serif;
    font-style: normal; }

.off-md-it {
  font-family: "OfficinaSansITCStd-MediumItalic", helvetica, arial, sans-serif;
  font-weight: 400;
  font-style: normal; }

.off-ex-bld {
  font-family: "OfficinaSansITCStd-ExtraBold", helvetica, arial, sans-serif;
  font-weight: 400;
  font-style: normal; }
  .off-ex-bld em {
    font-family: "OfficinaSansITCStd-ExtraBoldIta", helvetica, arial, sans-serif;
    font-style: normal; }

.off-ex-bld-it, h3, h4, .lastfm-title, .post-item .post-date {
  font-family: "OfficinaSansITCStd-ExtraBoldIta", helvetica, arial, sans-serif;
  font-weight: 400;
  font-style: normal; }

/*
12 columns
 */
html {
  min-height: 100%;
  background: #9bb8d3; }

body {
  padding-top: 60px;
  min-width: 960px;
  font-family: "adobe-caslon-pro", georgia, serif; }
  @media only screen and (max-width: 960px) {
    body.allow-tablet {
      min-width: 640px; } }
  @media only screen and (max-width: 640px) {
    body.allow-phone {
      min-width: 320px;
      padding-top: 40px; } }

a {
  text-decoration: none; }
  a img {
    border: none; }

/* clearfix */
.cf:before, .cf:after {
  content: " ";
  display: table; }

.cf:after {
  clear: both; }

.cf {
  *zoom: 1; }

.col, .col-1, .col-1-2, .col-1-3, .col-2-3, .col-1-4, .col-3-4, .col-1-5, .col-2-5, .col-3-5, .col-4-5, .col-1-6, .col-5-6 {
  display: block;
  float: left;
  position: relative;
  min-height: 1px;
  padding: 0 1%; }

.col-1 {
  width: 98%; }

.col-1-2 {
  width: 48%; }

.col-1-3 {
  width: 31.333333%; }

.col-2-3 {
  width: 64.666666%; }

.col-1-4 {
  width: 23%; }

.col-3-4 {
  width: 73%; }

.col-1-5 {
  width: 23%; }

.col-2-5 {
  width: 38%; }

.col-3-5 {
  width: 58%; }

.col-4-5 {
  width: 78%; }

.col-1-6 {
  width: 14.66666666%; }

.col-5-6 {
  width: 81.333333333%; }

.pull-left {
  float: left; }

.pull-right {
  float: right; }

.no-select, .button, .slider .indicator, .selector-trigger, .input-file::-webkit-file-upload-button {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: moz-none;
  -ms-user-select: none;
  user-select: none; }

.wrap {
  width: 960px;
  margin: 0 auto; }
  @media only screen and (max-width: 960px) {
    .allow-tablet .wrap {
      width: 720px; } }
  @media only screen and (max-width: 720px) {
    .allow-phone .wrap {
      width: 620px; } }
  @media only screen and (max-width: 640px) {
    .allow-phone .wrap {
      width: 320px; } }

.button {
  position: relative;
  display: inline-block;
  /* 14px */
  font-size: .875em;
  letter-spacing: 0.1em;
  /* 10px */
  margin-bottom: .714285714em;
  border-radius: 4px;
  cursor: pointer; }

.button-primary {
  background: #9bb8d3;
  border: 1px solid #8da8c2;
  color: white;
  /* 30px */
  line-height: 2.142857143em;
  box-shadow: 0 3px #8da8c2;
  /* 25px */
  padding: 0 1.785714286em;
  -webkit-transition: top 0.05s, box-shadow 0.05s, background-color 0.2s;
  -moz-transition: top 0.05s, box-shadow 0.05s, background-color 0.2s;
  -o-transition: top 0.05s, box-shadow 0.05s, background-color 0.2s;
  -ms-transition: top 0.05s, box-shadow 0.05s, background-color 0.2s;
  transition: top 0.05s, box-shadow 0.05s, background-color 0.2s; }
  .button-primary:hover {
    background-color: #a6bfd7; }
  .button-primary:active {
    top: 5px;
    box-shadow: 0 0 #8da8c2; }
  .button-primary:before {
    content: ' ';
    display: block;
    position: absolute;
    width: 100%;
    border-top: 1px solid #c3d4e5;
    left: 0;
    border-radius: 4px;
    height: 4px; }

.button-secondary {
  background: white;
  color: #53565a;
  border: 1px solid #c3c7cc;
  /* 8px */
  padding: 0 .571428571em;
  /* 28px */
  line-height: 2em;
  -webkit-transition: border-color 0.2s, box-shadow 0.2s;
  -moz-transition: border-color 0.2s, box-shadow 0.2s;
  -o-transition: border-color 0.2s, box-shadow 0.2s;
  -ms-transition: border-color 0.2s, box-shadow 0.2s;
  transition: border-color 0.2s, box-shadow 0.2s; }
  .button-secondary:hover {
    border-color: #333; }
  .button-secondary:active {
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125); }

.button-tag {
  position: relative;
  background: #d1d4d8;
  border: 1px solid #c3c7cc;
  border-bottom: 3px solid #c3c7cc;
  border-right: none;
  color: #53565a;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  /* 24px */
  line-height: 1.714285714em;
  box-shadow: 0 1px #c3c7cc;
  margin-right: 14px;
  /* 7px */
  padding: 0 .5em;
  -webkit-transition: top 0.05s, background-color 0.2s, border-color 0.2s;
  -moz-transition: top 0.05s, background-color 0.2s, border-color 0.2s;
  -o-transition: top 0.05s, background-color 0.2s, border-color 0.2s;
  -ms-transition: top 0.05s, background-color 0.2s, border-color 0.2s;
  transition: top 0.05s, background-color 0.2s, border-color 0.2s; }
  .button-tag:before, .button-tag:after {
    position: absolute;
    top: 0;
    left: 100%;
    content: ' ';
    display: block;
    width: 0;
    height: 0;
    border: 12px solid transparent;
    border-left-color: #d1d4d8;
    border-right: none;
    -webkit-transition: border-color 0.2s;
    -moz-transition: border-color 0.2s;
    -o-transition: border-color 0.2s;
    -ms-transition: border-color 0.2s;
    transition: border-color 0.2s; }
  .button-tag:before {
    border-left-color: #c3c7cc;
    border-width: 13px;
    top: -1px; }
  .button-tag:active {
    top: 5px;
    border-bottom: none;
    margin-bottom: .928571429em; }
  .button-tag:hover {
    background: white;
    border-color: #c3c7cc;
    border-bottom-color: #ebeced; }
    .button-tag:hover:after {
      border-left-color: white; }

.tag-inner:before, .tag-inner:after {
  position: absolute;
  bottom: -3px;
  left: 100%;
  content: ' ';
  display: block;
  width: 0;
  height: 0;
  border: 12px solid transparent;
  border-left-color: #c3c7cc;
  border-top: none;
  border-right: none;
  -webkit-transition: border-color 0.2s;
  -moz-transition: border-color 0.2s;
  -o-transition: border-color 0.2s;
  -ms-transition: border-color 0.2s;
  transition: border-color 0.2s; }
.tag-inner:after {
  bottom: -2px;
  border-left-color: #c3c7cc; }
.tag-inner:active:before, .tag-inner:active:after {
  bottom: 0; }
.tag-inner:hover:after {
  border-left-color: #ebeced; }

h1 {
  /* 100px */
  font-size: 6.25em;
  line-height: 1em;
  color: white;
  font-weight: 400;
  /* 20px */
  margin: 0 0 .2em; }

h2 {
  /* 30px */
  font-size: 1.875em;
  color: #002d5e;
  /* 10px */
  margin: 0 0 .333333333em; }
  h2 a {
    color: #002d5e; }

h3 {
  /* 28px */
  font-size: 1.75em;
  /* 36 */
  line-height: 1.285714286em;
  margin: 0 0 .5em;
  color: white; }

h4 {
  /* 18px */
  font-size: 1.125em;
  line-height: 1em;
  /* 10px */
  margin: 0 0 .55555555em;
  color: #002e5d; }

h5 {
  /* 18px */
  font-size: 1.125em;
  color: #002e5d;
  /* 30px */
  line-height: 1.666666666em;
  margin: 0; }

p {
  /* 18px */
  font-size: 1.125em;
  /* 24px */
  line-height: 1.333333333em;
  /* 10px */
  margin: 0 0 .55555555em;
  color: #53565a; }
  p a {
    color: #002e5d; }

address {
  color: #002e5d;
  line-height: 1.16666666em; }
  address p {
    font-size: 1em;
    color: #002e5d;
    line-height: 1.16666666em;
    margin: 0 0 1.16666666em; }
  address .white {
    color: white; }

blockquote {
  float: left;
  border-top: 1px solid #002e5d;
  border-bottom: 1px solid #002e5d;
  width: 35.483870968%;
  margin: 0 20px 0 0;
  padding: .5em 0 0;
  min-width: 14em; }
  @media only screen and (max-width: 640px) {
    blockquote {
      width: 100%;
      margin: 0; } }
  blockquote p {
    /* 22px */
    font-size: 1.375em;
    color: #002e5d; }

.author-tweet {
  text-align: right;
  /* 18px */
  font-size: 1.125em; }

.menu, .sub-menu {
  list-style: none;
  margin: 0;
  padding: 0; }

.slides, .indicators {
  list-style: none;
  padding: 0;
  margin: 0; }

.sections {
  padding-bottom: 40px;
  background: #eeeeee url("assets/bg-gray.png"); }

.section-black {
  background: black; }

.section-white {
  background: white url("assets/bg-white.jpg"); }

.section-gray {
  background: #eeeeee url("assets/bg-gray.png"); }

.section-content {
  padding-top: 39px; }

.home-content {
  padding: 50px 0 75px; }

.header-primary {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  background: #002e5d;
  /* 18px */
  font-size: 1.125em;
  /* 56px */
  line-height: 3.111111111em;
}

.trigger-menu {
  color: white;
  line-height: 2em;
  cursor: pointer;
  background: #002e5d;
}
.trigger-menu img {
	margin: 10px 0 0 10px;
}

.phone-logo {
	margin: 0;
	padding: 16px 0 0 20px;
}

.nav-primary {
  border-bottom: .222222222em solid #021e3a; }
  @media only screen and (max-width: 640px) {
    .allow-phone .nav-primary {
    	display: none;
    	position: absolute;
    	top: 0;
    	left: 0;
      } }
  .nav-primary .sub-menu {
    border: 1px solid #021e3a;
    border-bottom-width: 5px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px; }
  .nav-primary .sub-menu-1 {
    display: none;
    /* 172px */
    position: absolute;
    left: -1px;
    top: 100%;
    background: #0b3a6a;
    width: 9.55555555em; }
  .nav-primary .menu-item {
    -webkit-transition: background-color 0.2s;
    -moz-transition: background-color 0.2s;
    -o-transition: background-color 0.2s;
    -ms-transition: background-color 0.2s;
    transition: background-color 0.2s; }
  .nav-primary .depth-0 {
    float: left;
    /* 36px */
    padding: 0 2em;
    position: relative;
    border-right: 1px solid #021e3a; }
    .nav-primary .depth-0:first-child {
      border-left: 1px solid #021e3a; }
    @media only screen and (max-width: 1040px) {
      .nav-primary .depth-0 {
        padding: 0 1.5em; } }
    @media only screen and (max-width: 720px) {
      .nav-primary .depth-0 {
        padding: 0 1em; } }
    @media only screen and (max-width: 640px) {
      .allow-phone .nav-primary .depth-0 {
        margin: 0;
        float: none;
        border: none;
        height: 50px;
        border-bottom: 1px solid #021e3a; }
        .allow-phone .nav-primary .depth-0:first-child {
          /*border: none;*/
         border-top: 1px solid #021e3a; } }
    .nav-primary .depth-0 a {
      color: white;
      -webkit-transition: color 0.2s;
      -moz-transition: color 0.2s;
      -o-transition: color 0.2s;
      -ms-transition: color 0.2s;
      transition: color 0.2s; }
    .nav-primary .depth-0 > a {
      /* 2px */
      border-bottom: .111111111em solid transparent;
      -webkit-transition: border-color 0.2s;
      -moz-transition: border-color 0.2s;
      -o-transition: border-color 0.2s;
      -ms-transition: border-color 0.2s;
      transition: border-color 0.2s; }
    .nav-primary .depth-0:hover > a, .nav-primary .depth-0.current-menu-ancestor > a, .nav-primary .depth-0.current-menu-item > a {
      border-bottom-color: #9bb8d3; }
    .nav-primary .depth-0:hover {
      background: #0b3a6a; }
      .nav-primary .depth-0:hover .sub-menu-1 {
        display: block; }
        @media only screen and (max-width: 640px) {
          .allow-phone .nav-primary .depth-0:hover .sub-menu-1 {
            display: none; } }
  .nav-primary .depth-1 {
    /* 15px */
    font-size: .833333333em;
    /* 35px */
    line-height: 2.333333333em;
    /* 9px */
    border-bottom: .066666666em solid #021e3a;
    position: relative; }
    .nav-primary .depth-1 a {
      display: block;
      padding: 0 .6em; }
    .nav-primary .depth-1:hover {
      /* 31px */
      line-height: 2.066666666em;
      /* 5px */
      border-bottom-width: .333333333em;
      background: #002e5d; }
      .nav-primary .depth-1:hover a {
        color: #9bb8d3; }

@media only screen and (max-width: 640px) {
	.nav-phone-info {
		display: block;
	}
	.phone-logo {
		display: block;
	}
	.nav-primary .wrap {
		margin: 0;
		width: auto;
	}
	.allow-phone .nav-primary-active {
	  width: 260px;
	  background: #002e5d;
	  border-right: .222222222em solid #02133a;
	}
}
@media only screen and (min-width: 640px) {
	.nav-phone-info {
		display: none;
	}
	.phone-logo {
		display: none;
	}
	.allow-phone .nav-primary-active {
 		max-height: 500px;
  	}
}

.nav-phone-info {
	padding: 20px;
	min-height: 334px;
}
.nav-phone-info p {
	padding:0;
	margin:0 0 15px 0;
	line-height: 15px;
}
.nav-phone-info p {
	color: white;
	font-size: 15px;
	font-weight: normal;
	font-style: normal;
	font-family: "OfficinaSansITCStd-MediumItalic", helvetica, arial, sans-serif;
}
.nav-phone-info a {
	color: white;
}
.nav-phone-info p span {
	color: #9bb8d3;
}
.nav-phone-info ul {
	list-style: none;
	padding: 0;
	margin-bottom: 0;
}
.nav-phone-info ul li {
	display: inline-block;
	width: 35px;
	height: 35px;
	margin: 0 10px;
	background: url('assets/header-social-sprite.png') no-repeat;
}
.nav-phone-info li:first-child {
	margin-left: 0;
}
.nav-phone-info li:last-child {
	margin-right: 0;
}
.nav-phone-info li a {
	display: block;
	width: 35px;
	height: 35px;
}
.nav-phone-info ul #fb {background-position: 0px 0px;}
.nav-phone-info ul #tw {background-position: -35px 0px;}
.nav-phone-info ul #inst {background-position: -70px 0px;}
.nav-phone-info ul #link {background-position: -105px 0px;}

.nav-phone-info .phone-copyright-info p {
	color: #9bb8d3;
	font-size: 11px;
	line-height: 14px;
	font-weight: normal;
	padding: 0 0 10px 0;
	margin:0;
	font-family: "OfficinaSansITCStd-Medium", helvetica, arial, sans-serif;
}

.slider {
  height: 705px;
  overflow: hidden;
  position: relative;
  min-width: 320px; }
  .slider .logo {
    display: block;
    position: relative;
    width: 80px;
    height: 75px;
    text-indent: -9999px;
    z-index: 200;
    margin-top: 40px;
    background-position: 0 0; }
    @media only screen and (max-width: 640px) {
      .allow-phone .slider .logo {
        width: 40px;
        height: 37px;
        background-position: -125px -25px;
        position: absolute;
        left: 10px;
        top: -30px; } }
  .slider .image {
    width: 100%;
    position: absolute;
    z-index: 100;
    top: 0; }
  .slider .texts {
    width: 100%;
    text-align: center; }
  .slider .text {
    position: absolute;
    z-index: 101;
    left: 0;
    top: 38%;
    width: 100%; }
    @media only screen and (max-width: 640px) {
      .allow-phone .slider .text {
        top: 20%; } }
  .slider .capabilities {
    position: absolute;
    left: 13%;
    bottom: 20px;
    width: 200px;
    z-index: 104; }

    @media only screen and (max-width: 640px) {
.slider .capabilities {
	display: none;
}
}



  .slider .capability {
    width: 30px;
    height: 30px;
    float: left;
    margin-right: 10px; }
    .slider .capability img {
      display: block; }
  .slider .list-capabilities {
    list-style: none;
    padding: 0;
    margin: 0; }
  .slider .capabilities-wrap {
    position: relative; }
  .slider .indicators {
    position: absolute;
    left: 0;
    bottom: 20px;
    width: 100%;
    text-align: center;
    z-index: 103; }
    @media only screen and (max-width: 640px) {
      .allow-phone .slider .indicators {
        display: none; } }
  .slider .indicator {
    height: 8px;
    width: 8px;
    border: 2px solid white;
    border-radius: 8px;
    display: inline-block;
    margin: 0 3px;
    cursor: pointer;
    -webkit-transition: background-color 0.2s;
    -moz-transition: background-color 0.2s;
    -o-transition: background-color 0.2s;
    -ms-transition: background-color 0.2s;
    transition: background-color 0.2s; }
  .slider .indicator-active, .slider .indicator:hover {
    background: white; }
  .slider .prev, .slider .next {
    position: absolute;
    display: block;
    z-index: 103;
    top: 50%;
    width: 40px;
    height: 29px;
    cursor: pointer;
    background-position: 0 -190px;
    -webkit-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    -ms-transition: opacity 0.2s;
    transition: opacity 0.2s; }
    .slider .prev:hover, .slider .next:hover {
      opacity: 0.5; }
  .slider .prev {
    left: 1.666666%; }
  .slider .next {
    right: 1.666666%;
    background-position: -50px -190px; }
  .slider p {
    /* 24px */
    font-size: 1.333333333em;
    /* 28px */
    line-height: 1.16666666em;
    color: white;
    /* 10px */
    margin-bottom: .41666666em; }
    .slider p a {
      color: white;
      text-decoration: underline; }
  @media only screen and (max-width: 960px) {
    .allow-tablet .slider .hide-text p, .allow-phone .slider .hide-text p {
      display: none; } }
  @media only screen and (max-width: 1120px) {
    .slider .slider-title {
      font-size: 5em; } }
  @media only screen and (max-width: 960px) {
    .allow-tablet .slider .slider-title, .allow-phone .slider .slider-title {
      font-size: 3.5em; }
    .allow-tablet .slider p, .allow-phone .slider p {
      font-size: 1em;
      max-width: 17em;
      margin: 0 auto; } }
  @media only screen and (max-width: 640px) {
    .allow-phone .slider .wrap {
      width: 70%;
      padding: 0 15%; }
    .allow-phone .slider .slider-title {
      font-size: 1.7em; }
    .allow-phone .slider .slider-subtitle {
      font-size: 1em; } }

.nav-sub {
  /* 14px */
  font-size: .875em;
  /* 41px */
  line-height: 2.928571429em;
  border-top: 1px solid #d1d4d8; }
  .nav-sub .depth-0 {
    display: none; }
    .nav-sub .depth-0.current-menu-ancestor, .nav-sub .depth-0.current-menu-item {
      display: block; }
  .nav-sub .depth-0 > a {
    display: none; }
  .nav-sub .depth-1 {
    border-bottom: 1px solid #d1d4d8; }
    .nav-sub .depth-1.current-menu-item > a, .nav-sub .depth-1 > a:hover, .nav-sub .depth-1.current-menu-ancestor > a {
      color: #002e5d; }
  .nav-sub .depth-1 .sub-menu {
    padding-left: 1em;
    /* 25px */
    line-height: 1.785714286em;
    margin: 0 0 1em; }
    .nav-sub .depth-1 .sub-menu .current-menu-item:after {
      content: ' ';
      display: inline-block;
      background-position: -100px -25px;
      height: 9px;
      width: 10px;
      margin-left: .6em; }
  .nav-sub a {
    color: #53565a; }

.selector {
  position: relative;
  width: 100%;
  max-width: 22em;
  margin-right: 1em;
  float: left;
  font-size: .975em;
  margin-bottom: .928571429em;
  border-radius: 4px;
  line-height: 2.571428571em;
  color: white;
  box-shadow: 0 3px #8da8c2;
  border: 1px solid #8da8c2; }
  .selector:hover .selector-trigger, .selector:hover .selector-dropdown {
    background-color: #a6bfd7; }

.post-type-archive-creative-matter .selector {
    max-width: 46%;
}
.post-type-archive-news .selector,
.tax-news-category .selector {
    max-width: 48%;
}
@media only screen and (max-width: 960px) {
    .post-type-archive-news .selector {
        max-width: 47%;
    }
}
@media only screen and (max-width: 640px) {
    .post-type-archive-creative-matter .selector ,
    .post-type-archive-news .selector {
        max-width: 96%;
    }
}

.selector-link {
  color: white;
  display: block;
  width: 100%; }

.selector-trigger {
  background: #9bb8d3;
  cursor: pointer;
  position: relative;
  border-radius: 4px;
    font-family: "OfficinaSansITCStd-BoldItalic";


  /* 6px */
  padding: 0 0.9em; }
  .selector-trigger:before, .selector-trigger:after {
    content: ' ';
    display: block;
    right: 7px;
    top: 50%;
    width: 0;
    height: 0;
    position: absolute;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 7px solid white; }
  .selector-trigger:before {
    margin-top: -4px; }
  .selector-trigger:after {
    margin-top: -6px;
    border-top-color: #9bb8d3; }

.selector-dropdown {
  position: absolute;
  z-index: 101;
  max-height: 0px;
  overflow-y: scroll;
  left: -1px;
  width: 100%;
  top: 100%;
  border: 1px solid transparent;
  background: #9bb8d3;
  border-top: none;
  -webkit-border-bottom-right-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -moz-border-radius-bottomleft: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  -webkit-transition: max-height 0.2s;
  -moz-transition: max-height 0.2s;
  -o-transition: max-height 0.2s;
  -ms-transition: max-height 0.2s;
  transition: max-height 0.2s; }
  .selector-active .selector-dropdown {
    max-height: 12.85em;
    border-color: #8da8c2;
    border-bottom: solid 5px #8da8c2;
    border-top: solid 1px #8da8c2;
    z-index: 102;
     }

.selector-options {
  padding: 0;
  margin: 0;
  list-style: none; }

.selector-option {
  padding: 0 .428571429em; }

.selector-option:hover {
    background: #9bb8d3;
}

.selector-primary .selector-trigger {
  border-top: 1px solid #c3d4e5; }

.selector-news {
   }
  @media only screen and (max-width: 640px) {
    .allow-phone .selector-news {
      } }

.selector-secondary {
  /* 28px */
  line-height: 2em;
  color: #53565a;
  border-color: #c3c7cc;
  box-shadow: none; }
  .selector-secondary:hover .selector-trigger, .selector-secondary:hover .selector-dropdown {
    background-color: white; }
  .selector-secondary .selector-link {
    color: #53565a; }
  .selector-secondary .selector-trigger {
    background: white; }
    .selector-secondary .selector-trigger:before {
      border-top-color: #626568; }
    .selector-secondary .selector-trigger:after {
      border-top-color: white; }
  .selector-secondary .selector-dropdown {
    background: white; }
  .selector-secondary.selector-active .selector-dropdown {
    max-height: 10em;
    border-color: #c3c7cc; }

.selector-form {
  float: none;
  max-width: 100%;
  /* 24px */
  font-size: 1.5em;
  line-height: 2em;
  color: #002e5d;
  box-shadow: none;
  border-color: #d1d4d8; }
  .selector-form:hover .selector-trigger, .selector-form:hover .selector-dropdown {
    background-color: white; }
  .selector-form .selector-trigger {
    background: white; }
    .selector-form .selector-trigger:before, .selector-form .selector-trigger:after {
      right: 15px;
      border-top-width: 15px;
      border-left-width: 14px;
      border-right-width: 14px; }
    .selector-form .selector-trigger:before {
      margin-top: -7px;
      border-top-color: #626568; }
    .selector-form .selector-trigger:after {
      margin-top: -9px;
      border-top-color: white; }
  .selector-form .selector-dropdown {
    background: white;
    border-color: white; }
  .selector-form.selector-active {
    border-color: #9bb8d3; }
    .selector-form.selector-active .selector-dropdown {
      max-height: 10em;
      border-color: #9bb8d3; }
  .selector-form .selector-option a {
    color: #002e5d; }

.grid-home {
  position: absolute;
  top: -40px; }

.grid-cell-1 {
  width: 25%; }
  @media only screen and (max-width: 640px) {
    .allow-phone .grid-cell-1 {
      width: 50%; } }

.grid-cell-2 {
  width: 50%; }
  @media only screen and (max-width: 640px) {
    .allow-phone .grid-cell-2 {
      width: 100%; } }

.grid-cell .project-image {
  width: 100%;
  height: auto;
  display: block; }
.grid-cell:hover .grid-overlay {
  left: 0;
  opacity: 1; }

.grid-inner {
  position: relative;
  border: 1px solid #d1d4d8;
  margin: 10px; }
  .grid-inner.no-padding {
    padding: 0; }
  .grid-inner.no-border {
    border: none; }

.grid-open {
  border-left: none;
  border-right: none;
  border-bottom: none; }

.grid-text {
  background: white;
  /* 18px */
  padding: 1.125em; }

.cell-twitter {
  min-height: 209px; }
  @media only screen and (max-width: 960px) {
    .cell-twitter {
      min-height: 149px; } }
  @media only screen and (max-width: 720px) {
    .cell-twitter {
      min-height: 134px; } }

.cell-news .news-inner {
  min-height: 190px; }

.instagram-image {
  width: 100%;
  height: auto;
  display: block; }

.grid-icon {
  /* 12px */
  font-size: .75em;
  line-height: 30px;
  color: #aaacae;
  padding-left: 35px;
  position: relative; }
  .grid-icon:before {
    content: ' ';
    display: block;
    left: 0;
    position: absolute;
    height: 32px;
    width: 30px;
    background-position: -90px -155px; }

.grid-overlay {
  position: absolute;
  opacity: 0;
  left: -9999px;
  top: 0;
  width: 100%;
  height: 100%;
  background: url("assets/bg-overlay.png");
  text-align: center; }
  .grid-cell-1 .grid-overlay {
    /* 10px */
    font-size: .6em; }
    .grid-cell-1 .grid-overlay .project-title {
      /* 18px */
      font-size: 1.8em; }
    .grid-cell-1 .grid-overlay:after {
      font-size: .5em;
      background-position: -90px -190px; }
  .grid-overlay .icon {
    margin: 3px; }
  .grid-overlay .project-client {
    color: #9bb8d3;
    /* 23px */
    font-size: 1.4375em; }
  .grid-overlay .project-title {
    color: white;
    display: block;
    /* 40px */
    font-size: 2.5em;
    line-height: 1em;
    padding: 0 15px;
    }
  .grid-overlay:after {
    content: ' ';
    display: block;
    position: absolute;
    bottom: 13%;
    left: 50%;
    margin-left: -1.25em;
    background-position: -50px -190px;
    font-size: 16px;
    /* 40px */
    width: 2.5em;
    /* 30px */
    height: 1.875em; }

.grid-overlay-table {
  width: 100%;
  height: 100%; }

.time-instagram {
  position: absolute;
  bottom: 20px;
  left: 25px;
  color: white; }
  @media only screen and (max-width: 720px) {
    .allow-phone .time-instagram {
      font-size: .5em;
      left: 15px;
      bottom: 10px; } }

.time-twitter:before {
  background-position: -30px -155px; }

.time-lastfm:before {
  background-position: 0 -155px; }

.time-post:before {
  background-position: -60px -155px; }

.twitter-text {
  color: #002e5d;
  /* 10px */
  margin-top: .555555555em; }

.twitter-user {
  text-align: right;
  color: #002e5d; }

.lastfm-heading {
  /* 22px */
  line-height: 1.222222222em;
  /* 14px 10px */
  margin: .777777777em 0 .555555555em; }

.list-lastfm {
  margin: 0;
  padding: 0 0 1em;
  list-style: none; }

.lastfm-title {
  /* 14px */
  font-size: .875em;
  line-height: 1em;
  margin: 0; }

.lastfm-artist {
  /* 13px */
  font-size: .8125em;
  line-height: 1.153846154em;
  /* 7px */
  margin: 0 0 .538461538em; }

.section-filters {
  background: #d1d4d8;
  border-top: 1px solid #c3c7cc;
  border-bottom: 4px solid #c3c7cc;
  position: relative;
  text-align: center; }

.trigger-filters {
  /* 18px */
  font-size: 1.125em;
  /* 45px */
  line-height: 2.5em;
  text-align: center;
  cursor: pointer;
  position: relative;
  display: inline-block; }

.trigger-filters-text {
  color: #53565a; }

.trigger-filters:after, .trigger-filters:before, .trigger-filters-text:after, .trigger-filters-text:before {
  content: ' ';
  display: block;
  position: absolute;
  height: 0;
  width: 0;
  right: -27px;
  top: 50%;
  margin-top: -4px;
  border-top: 7px solid #5e6165;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent; }
.trigger-filters:after, .trigger-filters-text:after {
  margin-top: -6px;
  border-top-color: #d1d4d8; }

.trigger-filters-text:after, .trigger-filters-text:before {
  left: -27px; }

.filters {
  position: absolute;
  z-index: 101;
  text-align: left;
  display: none;
  top: 106%;
  width: 100%;
  background: #e3e5e9;
  border-bottom: 1px solid #c3c7cc;
  padding-top: 10px;
  padding-bottom: 20px; }

.filter-type {
  clear: both; }

.list-filters {
  list-style: none;
  padding: 0;
  margin: 0; }
  .list-filters .filter {
    float: left;
    margin-right: 5px; }
  .list-filters .button {
    letter-spacing: 0; }

.form-search {
  position: relative; }

.input-search {
  border: 1px solid #c3c7cc;
  border-radius: 4px;
  /* 14px */
  font-size: .875em;
  height: 2em;
  line-height: 2em;
  outline: 0;
  text-indent: .5em;
  width: 100%;
  color: #53565a;
  -moz-appearance: none;
  -webkit-appearance: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

.button-submit {
  position: absolute;
  background: none;
  display: block;
  border: none;
  text-indent: -9999px;
  right: 5px;
  top: 50%;
  margin-top: -4.5px;
  width: 10px;
  height: 9px;
  background-position: -100px -25px; }

.list-projects {
  list-style: none;
  padding: 0;
  margin: 0;
  position: relative;
  top: -10px;
  left: -10px; }
  @media only screen and (max-width: 960px) {
    .allow-tablet .list-projects {
      top: 0;
      left: 0; } }

.project-item {
  width: 20%;
  float: left;
  padding: 1.282051282%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }
  @media only screen and (max-width: 720px) {
    .allow-phone .project-item {
      width: 25%; } }
  @media only screen and (max-width: 640px) {
    .allow-phone .project-item {
      width: 33.3333333333%; } }

.project-link {
  display: block;
  position: relative;
  overflow: hidden; }
  .project-link:hover .project-overlay {
    opacity: 1;
    left: 0; }

.overlay-link {
  position: absolute;
  z-index: 100;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%; }

.project-image {
  display: block;
  width: 100%;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

.project-overlay {
  opacity: 0;
  top: 0;
  left: -9999px;
  position: absolute;
  height: 100%;
  width: 100%;
  text-align: center;
  background: url("assets/bg-overlay.png"); }
  .project-overlay .icons {
    display: block; }
  .project-overlay .icon {
    margin: 3px 3px -12px; }
  @media only screen and (max-width: 640px) {
    .allow-phone .project-overlay {
      font-size: .6em; } }
  .project-overlay .project-client {
    /* 14px */
    font-size: .875em;
    display: block;
    /* 4px */
    margin-bottom: .285714286em;
    line-height: 1em;
    color: #9bb8d3; }
  .project-overlay .project-title {
    display: block;
    /* 18px */
    font-size: 1.125em;
    line-height: 1em;
    color: white; }

.project-overlay-table {
  height: 100%;
  width: 100%; }

.project-overlay-cell {
  padding: 0% 5%; }

.main-content {
  /* 10px */
  padding-top: .625em;
  border-top: 1px solid #d1d4d8;
		img{
			max-width: 100%;
			height: auto;
		}
}

.main-content iframe {
    max-width: 100%;
}

.fb-comments {
  max-width: 100%;
  overflow-x: scroll; }

.client-image {
  border: 1px solid #d1d4d8; }

.project-images {
  /* 20px 25px */
  padding: 1.25em 0 .3751em; }
  .project-images p {
    font-size: 1em;
    line-height: 1.25em; }

.project-image-row {
  /* 19px */
  padding-bottom: 1.1875em; }

.border-top {
  border-top: 1px solid #d1d4d8;
  padding-top: 1em; }

.project-meta {
  border-top: 1px solid #d1d4d8;
  /* 4px 45px */
  padding: .25em 0 2.8125em; }

.back-to {
  /* 14px */
  font-size: .875em;
  color: #53565a;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -o-transition: color 0.2s;
  -ms-transition: color 0.2s;
  transition: color 0.2s; }
  .back-to:hover {
    color: #8a8b8e; }
  .back-to:before {
    content: " ";
    background-position: -85px -25px;
    width: 10px;
    height: 9px;
    display: inline-block;
    margin-right: 5px; }

.more-similar {
  /* 14px */
  font-size: .875em;
  color: #53565a;
  display: block;
  line-height: 1.2em;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -o-transition: color 0.2s;
  -ms-transition: color 0.2s;
  transition: color 0.2s; }
  .more-similar:hover {
    color: #8a8b8e; }

.list-posts {
  list-style: none;
  margin: 0;
  padding: 0; }

.post-item {
  background: white;
  border: 1px solid #d1d4d8;
  padding-bottom: 10px;
  margin-bottom: 20px; }
  .post-item .post-title {
    /* 40px */
    font-size: 2.5em;
    margin: .2em 0; }
    @media only screen and (max-width: 960px) {
      .allow-tablet .post-item .post-title, .allow-phone .post-item .post-title {
        font-size: 1.75em; } }
    @media only screen and (max-width: 640px) {
      .allow-phone .post-item .post-title {
        font-size: 1.5em; } }
  .post-item .post-date {
    /* 18px */
    color: white;
    font-size: 1.125em; }
  .post-item .post-excerpt {
    padding: 20px; }
  .post-item .first-letter {
    /* 84px */
    font-size: 5.25em;
    float: left;
    margin-top: 14px;
    position: relative;
    /* 15px */
    margin-right: .178571429em;
    line-height: .5em;
    color: #9bb8d3; }
  .post-item .read-more {
    text-align: center; }

.post-header {
  position: relative;
  text-align: center;
  display: block;
  min-height: 100px;
  background: black; }

.post-header-text {
  position: absolute;
  height: 100%;
  width: 100%; }
  .post-header-text.no-thumb {
    position: relative;
    padding: 1em 0; }

.post-header-column {
  height: 100%;
  width: 100%;
  display: table;
  position: static; }

.post-header-row {
  padding: 0 1em;
  position: static;
  display: table-cell;
  vertical-align: middle; }

.post-featured-image {
  width: 100%;
  height: auto;
  display: block; }

.navigation-post {
    clear: both;
  border-top: 1px solid #d1d4d8;
  line-height: 2em;
  padding-top: 20px;
}
.navigation-post a {
    color: #53565a;
    height: 29px;
    line-height: 29px;
    float: left;
}
.navigation-post a.previous:before,
.navigation-post a.next:after {
    content: "";
    height: 29px;
    display: inline-block;
    vertical-align: middle;
    width: 50px;
    position: relative;
    top: -2px;
}
.navigation-post a.previous:before {
	background: url("assets/nav-arrows.png") no-repeat left;
}
.navigation-post a.next {
	float: right;
}
.navigation-post a.next:after {
	background: url("assets/nav-arrows.png") no-repeat right;
}


.prev-posts:before {
  content: " ";
  background-position: -85px -25px;
  width: 10px;
  height: 9px;
  display: inline-block;
  margin-right: 5px; }

.next-posts:after {
  content: " ";
  background-position: -100px -25px;
  width: 10px;
  height: 9px;
  display: inline-block;
  margin-right: 5px; }

.archive-title {
  text-align: center;
  position: relative;
  top: -10px; }

.author-link {
  text-align: center;
  display: block;
  border-top: 1px solid #d1d4d8;
  padding: 10px 0; }

.author-image {
  width: 85px;
  height: 85px;
  border-radius: 42px; }

.crafted-by {
  display: block;
  /* 14px */
  font-size: .875em;
  color: #002e5d;
  /* 16px */
  line-height: 1.142857143em; }

.author-name {
  /* 18px */
  font-size: 1.125em;
  line-height: 1em;
  color: #53565a; }

.list-categories {
  border-top: 1px solid #d1d4d8;
  padding: 10px 0; }

.button-category {
  /* 25px */
  line-height: 1.785714286em;
  /* 7px */
  padding: 0 .5em; }

.list-tags {
  border-top: 1px solid #d1d4d8;
  padding: 10px 0; }

.tag-item {
  float: left;
  margin-right: 10px; }

.list-news {
  /* 30px */
  padding: 1.875em 0 2em;
  margin: 0; }

.news-item {
  border: 1px solid #d1d4d8;
  margin-bottom: 20px; }

.news-inner {
  background: white;
  /* 19px */
  padding: 1.1875em;
  /* 9px */
  padding-bottom: .5625em; }

.news-title {
  /* 28px */
  font-size: 1.75em;
  /* 5px */
  margin-bottom: .178571429em; }

.news-author {
  color: #99b8d4;
  /* 18px */
  font-size: 1.125em;
  /* 20px */
  line-height: 1.25em;
  /* 10px */
  margin-bottom: .55555555em; }

.date-news {
  font-size: .75em;
  line-height: 30px;
  color: #aaacae;
  margin-left: 8px; }

.input-text, #recaptcha_response_field, .input-textarea {
  width: 100%;
  color: #002e5d;
  /* 18px */
  font-size: 1.125em;
  border: 1px solid #d1d4d8;
  border-radius: 4px;
  /* 10px */
  margin: .555555555em 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: border-color 0.2s;
  -moz-transition: border-color 0.2s;
  -o-transition: border-color 0.2s;
  -ms-transition: border-color 0.2s;
  transition: border-color 0.2s; }
  .input-text:focus, #recaptcha_response_field:focus, .input-textarea:focus {
    outline: 0;
    border-color: #002e5d; }
    .input-text:focus::-webkit-input-placeholder, #recaptcha_response_field:focus::-webkit-input-placeholder, .input-textarea:focus::-webkit-input-placeholder {
      color: white; }
    .input-text:focus:-moz-placeholder, #recaptcha_response_field:focus:-moz-placeholder, .input-textarea:focus:-moz-placeholder {
      color: white; }
    .input-text:focus::-moz-placeholder, #recaptcha_response_field:focus::-moz-placeholder, .input-textarea:focus::-moz-placeholder {
      color: white; }
    .input-text:focus:-ms-input-placeholder, #recaptcha_response_field:focus:-ms-input-placeholder, .input-textarea:focus:-ms-input-placeholder {
      color: white; }

.error {
	border: solid 1px red !important;
}

.input-text, #recaptcha_response_field {
  /* 40px */
  line-height: 2.222222222em;
  height: 2.222222222em;
  text-indent: .5em; }

.input-textarea {
  /* 9px */
  padding: .5em;
  resize: none; }

.label-check {
  /* 14px */
  font-size: .875em;
  /* 24px */
  line-height: 1.714285714em; }

.input-check {
  position: relative;
  top: 3px;
  width: 0;
  height: 24px;
  width: 24px;
  margin-right: 5px; }
  .input-check:after {
    background: white;
    display: inline-block;
    content: ' ';
    border: 1px solid #d1d4d8;
    width: 22px;
    height: 22px;
    border-radius: 3px;
    -webkit-transition: background-color 0.2s, border-color 0.2s;
    -moz-transition: background-color 0.2s, border-color 0.2s;
    -o-transition: background-color 0.2s, border-color 0.2s;
    -ms-transition: background-color 0.2s, border-color 0.2s;
    transition: background-color 0.2s, border-color 0.2s; }
  .input-check:focus:after, .input-check:hover:after {
    border-color: #002e5d; }
  .input-check:checked:after {
    background: #9bb8d3; }

.input-file::-webkit-file-upload-button {
  font-family: $officina-italic;
  background: #9bb8d3;
  border: 1px solid #8da8c2;
  color: white;
  /* 30px */
  line-height: 2.142857143em;
  box-shadow: 0 3px #8da8c2;
  /* 25px */
  padding: 0 1.785714286em;
  -webkit-transition: top 0.05s, box-shadow 0.05s;
  -moz-transition: top 0.05s, box-shadow 0.05s;
  -o-transition: top 0.05s, box-shadow 0.05s;
  -ms-transition: top 0.05s, box-shadow 0.05s;
  transition: top 0.05s, box-shadow 0.05s;
  position: relative;
  display: inline-block;
  /* 14px */
  font-size: .875em;
  letter-spacing: 0.1em;
  /* 10px */
  margin-bottom: .714285714em;
  border-radius: 4px;
  cursor: pointer;
  font-family: $officina-italic;
  font-weight: 400;
  font-style: normal; }
  .input-file::-webkit-file-upload-button:active {
    top: 5px;
    box-shadow: 0 0 #8da8c2; }

.captcha {
  overflow-y: hidden;
  overflow-x: scroll; }

#recaptcha_widget_div {
  padding: 1em 0; }

#recaptcha_table {
  border: none !important; }

#recaptcha_response_field {
  border: 1px solid #d1d4d8 !important; }

#recaptcha_privacy a {
  color: #002e5d; }

.forms-contact {
  clear: both;
  /* 23px */
  padding-top: 1.4375em; }
  .forms-contact h5 {
    margin-top: .7em; }

.form-contact {
  display: none; }

.default-form {
  display: block; }

.list-interests {
  margin: 0;
  padding: 0;
  list-style: none;
  /* 30px */
  line-height: 2.5em; }

.trigger-form-newsletter {
  display: block;
  position: relative;
  /* 20px */
  font-size: 1.25em;
  /* 49px */
  line-height: 1.45em;
  padding: 0.5em 0;
  color: #002e5d;
  cursor: pointer;
  }
  .trigger-form-newsletter:after {
    content: ' ';
    display: inline-block;
    margin-left: 20px;
    background-position: -62px -195px;
    height: 21px;
    width: 28px;
    border: none;
    background-color: transparent;
    text-indent: -9999px; }
    @media only screen and (max-width: 640px) {
      .trigger-form-newsletter:after {
        /* display: none; */ } }

.section-newsletter {
  background: #b6cde2;
  border-top: 1px solid #8da8c2;
  border-bottom: 4px solid #8da8c2; }
  .section-newsletter:before {
    display: block;
    content: ' ';
    border-top: 1px solid #d3e1ee;
    height: 0;
    width: 100%;
    position: absolute;
    margin: 0; }

.form-newsletter {
  display: none; }

.form-column {
  position: relative; }

.form-row {
  padding-bottom: 1em; }

.submit-newsletter {
  position: absolute;
  right: 15px;
  top: 50%;
  background-position: -62px -195px;
  height: 21px;
  width: 28px;
  margin-top: -10px;
  border: none;
  background-color: transparent;
  text-indent: -9999px;
  padding: 0; }
  @media only screen and (max-width: 640px) {
    .submit-newsletter {
      right: 23px; } }

.checkbox-newsletter {
  border: 1px solid #8da8c2;
  background: #9bb8d3;
  width: 20px;
  height: 20px;
  display: inline-block;
  margin: 0 2px 0 -20px;
  position: relative;
  top: 4px;
  border-radius: 4px; }
  .check-newsletter:checked + .checkbox-newsletter {
    background-position: -82px -51px; }

.label-newsletter {
  /* 15px */
  font-size: .9375em;
  color: #002e5d; }

.input-newsletter {
  width: 100%;
  background: #9bb8d3;
  border: #8da8c2 1px solid;
  color: white;
  /* 20px */
  font-size: 1.25em;
  line-height: 2em;
  height: 2em;
  border-radius: 4px;
  text-indent: .5em;
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }
  .input-newsletter::-webkit-input-placeholder {
    color: white; }
  .input-newsletter:-moz-placeholder {
    color: white; }
  .input-newsletter::-moz-placeholder {
    color: white; }
  .input-newsletter:-ms-input-placeholder {
    color: white; }

.footer-primary {
  padding: 1.125em 0;
  background: #9bb8d3; }
  .footer-primary address {
    /* 12px */
    font-size: .75em; }
  .footer-primary .logo {
    width: 97px;
    height: 21px;
    text-indent: -9999px;
    background-position: -85px 0; }

.copyright p {
  /* 12px */
  font-size: .75em;
  /* 14px */
  line-height: 1.16666666em;
  color: white;
  /* 5px */
  margin: 0 0 .41666666em; }

.nav-related {
  border-top: 1px solid #d1d4d8;
  padding-top: 5px;
  margin-bottom: 18px; }
  .nav-related .menu-item {
    /* 14px */
    font-size: .875em;
    /* 14px */
    line-height: 1em;
    /* 5px */
    padding: 5px 0 5px 30px;
    /* 6px */
    margin-bottom: .428571429em;
    position: relative; }
  .nav-related .menu-item a {
    color: #002e5d;
    -webkit-transition: color 0.2s;
    -moz-transition: color 0.2s;
    -o-transition: color 0.2s;
    -ms-transition: color 0.2s;
    transition: color 0.2s; }
    .nav-related .menu-item a:before {
      content: ' ';
      display: block;
      height: 24px;
      width: 24px;
      top: 0;
      left: 0;
      position: absolute;
      -webkit-transition: opacity 0.2s;
      -moz-transition: opacity 0.2s;
      -o-transition: opacity 0.2s;
      -ms-transition: opacity 0.2s;
      transition: opacity 0.2s;
      background-position: -200px -75px;
      float: left; }
    .nav-related .menu-item a:hover:before {
      opacity: .5; }
  .nav-related .facebook a:before {
    background-position: 0 -75px; }
  .nav-related .twitter a:before {
    background-position: -25px -75px; }
  .nav-related .instagram a:before {
    background-position: -50px -75px; }
  .nav-related .linkedin a:before {
    background-position: -75px -75px; }
  .nav-related .vimeo a:before {
    background-position: -100px -75px; }
  .nav-related .flickr a:before {
    background-position: -125px -75px; }
  .nav-related .googleplus a:before {
    background-position: -150px -75px; }
  .nav-related .dribbble a:before {
    background-position: -175px -75px; }

.footer-primary .menu-social {
  float: right; }
  .footer-primary .menu-social .menu-item {
	background-image: url("assets/sprite@2x_new_old.png") !important;
    text-indent: -9999px;
    float: left;
    margin-left: 10px;
    margin-bottom: 10px;
    background-position: -200px -75px;
    -webkit-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    -ms-transition: opacity 0.2s;
    transition: opacity 0.2s; }
    .footer-primary .menu-social .menu-item a {
      display: block;
      height: 24px;
      width: 24px; }
    .footer-primary .menu-social .menu-item:hover {
      opacity: .5; }
  .footer-primary .menu-social .facebook {
    background-position: 0 -75px; }
  .footer-primary .menu-social .twitter {
    background-position: -25px -75px; }
  .footer-primary .menu-social .instagram {
    background-position: -50px -75px; }
  .footer-primary .menu-social .linkedin {
    background-position: -75px -75px; }
  .footer-primary .menu-social .vimeo {
    background-position: -100px -75px; }
  .footer-primary .menu-social .flickr {
    background-position: -125px -75px; }
  .footer-primary .menu-social .googleplus {
    background-position: -150px -75px; }
  .footer-primary .menu-social .dribbble {
    background-position: -175px -75px; }

.phone {
  display: none; }

	/* Going Green Case Study Styles */
	.case-study--container{
	  display: block;
	  position: relative;
	  margin: 84px auto;
			.col-1-3{
				margin-bottom: 15px;
			}
			a{
				display: block;
		    position: relative;
		    width: 100%;
		    height: 100%;
        max-height: 194px;
		    text-align: center;
		    background: rgb(85, 85, 85);
					div.overlay{
						opacity: 0;
						width: 100%;
						height: 100%;
						position: absolute;
						top: 0;
						left: 0;
						transition: all .3s ease;
						cursor: pointer;
						background: rgba(146, 218, 179, 0.7);
						display: flex;
						flex-direction: column;
						justify-content: center;
						align-items: center;
							h3{
								font-family: $officina-bolditalic;
								font-size: 20px;
								color: #00664f;
								padding-bottom: 5px;
								flex: 0 1 auto;
							}
							p{
								color: white;
								font-size: 22px;
								flex: 0 1 auto;
								font-family: $officina-book;
							}
					}
					img{
						margin: 0 auto;
				    max-width: 100%;
				    height: auto;
					}
					&:hover{
						div.overlay{
							opacity: 1;
						}
					}
			}
	}

	.case-study--container .col-1-3:nth-child(3n+1){
	  padding-left: 0;
	}
	.case-study--container .col-1-3:nth-child(3n+3){
	  padding-right: 0;
	}
  @media screen and (max-width: 40em){
    .case-study--container .col-1-3:nth-child(3n+1), .case-study--container .col-1-3:nth-child(3n+3){
      padding: 0 5% !important;
    }
  }

// Case Study Single Page - Left nav
#menu-green-case-study-nav{
	li{
		border-bottom: 1px solid #d1d4d8;
			ul{
				padding-left: 1em;
				line-height: 1.785714286em;
				margin: 0 0 1em;
					li{
						border-bottom: none;
					}
			}
	}
	.menu-item-4976 a{
		font-family: "OfficinaSansITCStd-BoldItalic",helvetica,arial,sans-serif;
		font-weight: 400;
		font-style: normal;
		color: #002e5d;
	}
}

// Captions
.wp-caption-text{
	font-family: "adobe-caslon-pro", georgia, serif;
	font-size: 1em;
	line-height: 1.25em;
	border-bottom: 1px solid #d1d4d8;
	margin-bottom: 20px;
	color: #00664f;
	padding: 8px 0 10px;
}

// Related Links
.page-template-page-green, .single-green_case_study{
	.nav-related .menu-item a{
		color: #00C389;
	}
  .nav-related a:before{
    background-image: url('assets/Green-Download.png') !important;
    background-position: center center;
    background-size: initial;
  }
}

/* tablet */
@media only screen and (max-width: 960px) {
  .allow-phone .col-tb-1-4, .allow-tablet .col-tb-1-4 {
    width: 23%; }
  .allow-phone .col-tb-3-4, .allow-tablet .col-tb-3-4 {
    width: 73%; }
  .allow-phone .col-tb-5-6, .allow-tablet .col-tb-5-6 {
    width: 81.333333333%; }
  .allow-phone .col-tb-1, .allow-tablet .col-tb-1 {
    float: none;
    width: 90%;
    clear: both;
    padding: 0 5%; }
  .allow-phone .tablet, .allow-tablet .tablet {
    display: block; }
  .allow-phone .no-tablet, .allow-tablet .no-tablet {
    display: none; } }

/* phone */
@media only screen and (max-width: 640px) {
  .allow-phone .phone-stack {
    float: none;
    width: 100%; }
  .allow-phone .phone {
    display: block;
    height: 40px;
    width: 45px; }
  .allow-phone .no-phone {
    display: none; } }

@media only screen and (max-width: 640px) {
  .allow-phone .col, .allow-phone .col-1, .allow-phone .col-1-2, .allow-phone .col-1-3, .allow-phone .col-2-3, .allow-phone .col-1-4, .allow-phone .col-3-4, .allow-phone .col-1-5, .allow-phone .col-2-5, .allow-phone .col-3-5, .allow-phone .col-4-5, .allow-phone .col-1-6, .allow-phone .col-5-6 {
    width: 90%;
    float: none;
    padding: 0 5%;
    margin: 0; } }

.addthis_toolbox {
  overflow: hidden; }

.addthis-button {
  display: block;
  float: none !important; }

.fb-comments, .fb-comments iframe[style], .fb-like-box, .fb-like-box iframe[style] {
  width: 100% !important; }

.fb-comments span, .fb-comments iframe span[style], .fb-like-box span, .fb-like-box iframe span[style] {
  width: 100% !important; }

 @media only screen and (max-width: 960px) {
.single-creative-matter .social-icons {
	float: left;
	width: 150px;
	padding: 0;
}
.single-creative-matter .description {
	clear:none;
	float: left;
	width: 460px;
	padding: 0;
}

}

 @media only screen and (max-width: 640px) {
.single-creative-matter .social-icons {
	float: none;
	width: 150px;
}
.single-creative-matter .description {
	clear: left;
	margin-top:10px;
	float: none;
	width: 350px;
	padding: 0;
}

}

.page-template-page-map-php .sections {
	padding-bottom: 0;
}

.col-custom-footer-right {
	float: left; width: 306px;
}
@media only screen and (max-width: 640px) {
	.col-custom-footer-right {
		float: none !important;
		clear: both !important;
		width: auto !important;
		margin-right: 0 !important;
	}
	.col-custom-footer {
		float: none !important;
		clear: both !important;
		width: auto !important;
	}
	#menu-social {
		float: none !important;
	}
}
